<!-- Footer Component para G2R Mining Solutions -->
<footer>
    <div class="section_container">
        <div class="footer_section">
            <div class="footer_logo">
                <a href="index.html">
                    <img src="Web G2R/imagenes/logo-principal.webp" alt="G2R Logo" />
                </a>
            </div>

            <div class="useful_links">
                <h3 id="footer-useful-title">Conoce nuestra web</h3>
                <ul>
                    <li><a href="Web G2R/html/aboutus.html" id="footer-about">Sobre nosotros</a></li>
                    <li><a href="Web G2R/html/services.html" id="footer-services">Qué hacemos</a></li>
                    <li><a href="Web G2R/html/sustainability.html" id="footer-sustainability">Sostenibilidad</a></li>
                    <li><a href="Web G2R/html/companies.html" id="footer-companies">Compañías asociadas</a></li>
                    <li><a href="Web G2R/html/novedades.html" id="footer-news">Novedades</a></li>
                    <li><a href="index.html#gallery" id="footer-gallery">Galería</a></li>
                    <li><a href="index.html#contact" id="footer-contact">Contacto</a></li>
                </ul>
            </div>

            <div class="contact_us">
                <h3 id="footer-contact-title">Contacto</h3>
                <ul>
                    <li>
                        <i class="bx bx-current-location"></i>
                        <span>Mendoza, Argentina</span>
                    </li>
                    <li>
                        <i class="bx bxs-envelope"></i>
                        <span>g2rminingsolutions@gmail.com</span>
                    </li>
                    <li>
                        <i class="bx bxs-phone-call"></i> <span>+54 9 261 467-9038</span>
                    </li>
                    <li>
                        <i class="bx bxs-phone-call"></i> <span>+54 9 261 698-5411</span>
                    </li>
                    <li>
                        <i class="bx bxs-phone-call"></i> <span>+54 9 261 688-8898</span>
                    </li>
                </ul>
            </div>

            <div class="follow_us">
                <h3 id="footer-social-title">Nuestras Redes Sociales</h3>
                <a href="https://www.facebook.com/profile.php?id=61560023327582" target="_blank"><i class="fab fa-facebook-f" id="icon1"></i></a>
                <a href="https://x.com/G2RMining" target="_blank"><i class="fa-brands fa-x-twitter" id="icon2"></i></a>
                <a href="https://www.instagram.com/g2rmining/" target="_blank"><i class="fab fa-instagram" id="icon3"></i></a>
                <a href="https://linkedin.com/in/g2r-miningsolutions-a77078302" target="_blank"><i class="fab fa-linkedin-in" id="icon4"></i></a>
                <a href="https://www.youtube.com/channel/UCrPmdXjxelexMvUdYMOk2TA" target="_blank"><i class="fab fa-youtube" id="icon5"></i></a>
            </div>
        </div>
    </div>
</footer>